div.issues_container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: inline-block;
}

a.issues_button {
    height: 32px;
    width: 36px;
    background-size: 24px 24px;
    /* @embed */
    background: url("../images/flag-light.png") no-repeat center;
    border: 1px solid #347BFF;
    border-radius: 4px;
    display: inline-block;
}

.content-rtl a.issues_button {
    /* Flip it! */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

a.issues_button:active {
    border: 4px solid #347BFF;
}
