body {
    color: #999;
    background: #000;
}

a {
    color: #2B6FB2;
}

a.external {
    /* @embed */
    background-image: url( 'images/external-link-ltr.png' );
}

img {
    background: #fff;
}

img.mwe-math-fallback-png-inline {
    background: none;
    -webkit-filter: invert(100%);
}

/* Same specificity as in less/content/main.less */
.content table td,
.content table th {
    background-color: #000;
    border: 1px #555 solid;
}

/* Same specificity as in less/content/hacks.less */
.content table.infobox {
    background: #000;
}

/* See also less/issues.less */
a.issues_button {
  /* @embed */
  background: url("../images/flag-night.png") no-repeat center;
  border: 1px solid #2B6FB2;
}

a.issues_button:active {
    border: 4px solid #2B6FB2;
}

a.disambig_button {
    border: 1px solid #2B6FB2;
    color: #2B6FB2;
}

a.disambig_button:active {
    background-color: #2B6FB2;
    color: #b0b0b0;
}
