body {
    color: #999;
    background: #000;
}

a {
    color: #2B6FB2;
}

a.external {
    /* @embed */
    background-image: url( 'images/external-link-ltr.png' );
}

img {
    background: #fff;
}

img.mwe-math-fallback-png-inline {
    background: none;
    -webkit-filter: invert(100%);
}

/* Same specificity as in less/content/main.less */
.content table td,
.content table th {
    background-color: #000;
    border: 1px #555 solid;
}

/* Same specificity as in less/content/hacks.less */
.content table.infobox {
    background: #000;
}
