body {
    background-color: #F2F2F2;
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 160%;
    margin: 0;
    padding: 0;
    margin-top: 48px;

    // Deal with long links (bug 60387)
    word-wrap: break-word;

}

#content {
    padding: 8px 24px;
}

a {
    color: #347BFF;
    text-decoration: none;
}

/* Headers */
h1 {
    font-family: serif;
    color: #333;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 24px;
    font-weight: bold;
}

h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5, h6 {
    font-size: 16px;
}


/* Thumbnail styles from MobileFrontend */
.thumb {
    .thumbinner {
        margin: 5px auto;
        max-width: 100%;

        > div {
            float: none !important;
            width: auto !important;
            clear: both !important;
        }
    }

    .thumbcaption {
        margin: 5px 10px 0;
        text-align: center;
        width: auto !important;
    }

    /* bug 20030 */
    .noresize {
        width: 100%;
        overflow-x: auto;

        img {
            max-width: none !important;
        }
    }
}

ul {
    list-style: square inside;
}

ol {
    list-style: decimal inside;
}

table {
    margin: 1em 0;

    /* following 4 rules are needed for scrolling */
    overflow: auto; /* for browsers that don't support overflow-y */
    overflow-y: hidden;
    overflow-x: auto;
    display: block;
    width: 100% !important;

    td,
    th {
        padding: 3px;
        border: 1px #ccc solid;
    }

    th {
        font-weight: bold;
        background-color: #f2f2f2;
        text-align: center;
    }

    caption {
        display: block;
        text-align: left;
    }
}

// Hide the image magnification icon normally displayed in image captions
div.magnify {
    display: none;
}

/* Makes sure that we don't have horizontal scrollbars for the entire page because
   an image is too wide to fit in to the current viewport */
img {
    max-width: 100% !important;
    height: auto !important;
}
