// Copied some styles from minerva with different selectors since Parsoid uses different elements for thumbnails
// see ../../MobileFrontend/resources/skins.minerva.content.styles/thumbnails.less
.content figure {
  max-width: 100%;
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 0 !important;
  -webkit-margin-start: 0 !important;
  -webkit-margin-end: 0 !important;

  img {
    margin: .6em auto .6em auto;
    display: block;
    clear: both;
  }
}

.content figcaption {
  margin: .5em 0 0;
  font-size: .8em;
  line-height: 1.5;
  padding: 0 !important;
  color: #555555;
  width: auto !important;
}

// See also the figcaption rules in widenImages.less
