a.edit_section_button {
    height: 48px;
    width: 48px;
    border: 8px solid transparent;
    /* @embed */
    background-image: url("../images/edit.png");
    background-repeat: no-repeat;
    background-size: 32px 32px;
    float: right;
    display: inline-float;
}

a.edit_section_button:active {
    background-color: rgba(128,128,128,.1);
}

.no-editing {
    a.edit_section_button {
        display: none;
    }
}

.page-protected {
	a.edit_section_button {
		/* @embed */
		background-image: url("../images/edit-locked.png");
	}
}

#mainpage {
	a.edit_section_button {
		display: none;
	}
}

.content-rtl a.edit_section_button {
    float: left;
    /* Flip it! */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
