a.edit_section_button {
    height: 32px;
    width: 32px;
    margin-left: 8px;
    margin-bottom: 8px;
    /* @embed */
    background-image: url("../images/edit.png");
    background-size: 32px 32px;
    float: right;
    display: inline-float;
}

.no-editing {
    a.edit_section_button {
        display: none;
    }
}

.page-protected {
	a.edit_section_button {
		/* @embed */
		background-image: url("../images/edit-locked.png");
	}
}

#mainpage {
	a.edit_section_button {
		display: none;
	}
}

.content-rtl a.edit_section_button {
    float: left;
    /* Flip it! */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
