body {
    color: #999;
    background: #000;
}

a {
    color: #2B6FB2;
}

a.external {
    /* @embed */
    background-image: url( '../images/external-link-ltr.png' );
}

img {
    background: #fff;
}

/* Same specificity as in less/content/main.less */
.content table td,
.content table th {
    background-color: #000;
    border: 1px #555 solid;
}

/* Same specificity as in less/content/hacks.less */
.content table.infobox {
    background: #000;
}

.app_table_collapsed_container {
    border: solid 1px #505050;
    background-color: #202020;
}

.app_span_collapse_text {
    color: #808080;
}

.app_table_collapsed_bottom {
    border: solid 1px #505050;
    background-color: #202020;
}
